.content-12 {
	color: #000;
	display: grid;
	width: auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr;
}

.content-span-2{
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
}

h1 {
	text-align: center;
	padding-top: 2%;
	color: blueviolet;
}

.text-btn1{
	justify-self: center;
	padding: 30px;
	transition: 0.72s;
	border-radius: 20px;
	background-color: rgba(212, 202, 212, 0.61);
	color: blueviolet;
}
.text-btn2{
	justify-self: center;
	padding: 30px;
	transition: 0.72s;
	border-radius: 20px;
	background-color: rgba(212, 202, 212, 0.61);
	color: blueviolet;
}
.text-btn3{
	justify-self: center;
	padding: 30px;
	transition: 0.72s;
	border-radius: 20px;
	background-color: rgba(212, 202, 212, 0.61);
	color: blueviolet;
}
.text-btn4{
	justify-self: center;
	padding: 30px;
	transition: 0.72s;
	border-radius: 20px;
	background-color: rgba(212, 202, 212, 0.61);
	color: blueviolet;
}

.content-south {
	background: url("https://www.vestnik.az/storage/2019/08/30/2.jpg") center no-repeat;
	display: grid;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	align-items: center;
	width: 97%;
	height: 97%;
	background-color: white;
	cursor: pointer;
	transition: 0.72s;
	opacity: 0.7;
}

.content-south-2 {
	background: url("https://e-history.kz/media/upload/10785/2017/08/17/8210081e208c0a5751c780dd16692ed2.jpg") center no-repeat;
	display: grid;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	align-items: center;
	width: 97%;
	height: 97%;
	cursor: pointer;
	transition: 0.72s;
	opacity: 0.7;
}

.content-south-3 {
	background: url("https://i3.ytimg.com/vi/C1BlraxxQow/maxresdefault.jpg") center no-repeat;
	display: grid;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	align-items: center;
	width: 97%;
	height: 97%;
	cursor: pointer;
	transition: 0.72s;
	opacity: 0.7;
}

.content-south-4 {
	background: url("https://a.d-cd.net/b4c9a71s-1920.jpg") center no-repeat;
	display: grid;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 10px;
	align-items: center;
	width: 97%;
	height: 97%;
	cursor: pointer;
	transition: 0.72s;
	opacity: 0.7;
}

.text-content2{
	text-transform: none;
	text-decoration: none;
	color: rgba(24, 206, 0, 0.993);
	font-size: 150%;
	font-weight: 1000;
}

.text-content2:hover{
	text-transform: none;
	text-decoration: none;
	color: rgba(24, 206, 0, 0.993);
	font-size: 150%;
	font-weight: 1000;
}

.content-south:hover{
	opacity: 1;
	transition: 0.72s;
}

.content-south-2:hover{
	opacity: 1;
	transition: 0.72s;
}

.content-south-3:hover{
	opacity: 1;
	transition: 0.72s;
}

.content-south-4:hover{
	opacity: 1;
	transition: 0.72s;
}