.content{
	display: grid;
	grid-template-rows: 7% 93%;
	width: 100%;
	height: 100%;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Playball', cursive;
}

.footer{
	display: grid;
	width: 100%;
	height: 100%;
	grid-row-start: 3;
	grid-row-end: 3;
}

.dashboard{
	display: grid;
	width: 100%;
	height: 100%;
	grid-row-start: 2;
	grid-row-end: 2;
}
